<form action="POS">
    <div class="container-form">
        <label for="name">Nombre</label>
        <input type="text" name="name" placeholder="Nombre" [(ngModel)]="productEnviar.name">

        <label for="category">Categoria</label>
        <input type="text" name="category" placeholder="Categoria" [(ngModel)]="productEnviar.category">

        <label for="quantity">Cantidad</label>
        <input type="number" name="quantity" [(ngModel)]="productEnviar.quantity">
    </div>
    <button type="button" pButton (click)="createProduct()">Enviar</button>
</form>